<div class="section">
  <div class="container">
    <h1 class="title is-2">New Part</h1>

    <%= render 'form', part: @part %>

    <div class="has-text-centered">
      <%= link_to 'Back', parts_path %>
    </div>

  </div>
</div>
