<h1>Welcome to the Sonitrol Quote Tool</h1>
<p>This tool, when Josh finishes it, will greatly ease quote work.</p>
<p>Intent of the tool is to allow tracking of customers and their sites, quotes assembled for those sites, parts and kits, and ease filling out associated proposal paperwork.</p>