<div class="section">
  <div class="container">
    <h1 class="title is-2">New Setting</h1>

    <%= render 'form', setting: @setting %>

    <div class="has-text-centered">
      <%= link_to 'Back', settings_path %>
    </div>
    
  </div>
</div>
