<div class="section">
  <div class="container">
    <h1 class="title">Editing <%= @site.name %></h2>

    <%= render 'form', site: @site %>

    <div class="has-text-centered">
      <%= link_to 'Show', @site %> |
      <%= link_to 'Back', sites_path %>
    </div>

  </div>
</div>
