<div class="section">
  <div class="container">
    <h1 class="title is-2">New Site</h1>

    <%= render 'form', site: @site %>

    <div class="has-text-centered">
      <%= link_to 'Back', sites_path %>
    </div>

  </div>
</div>
